<form>

  <input placeholder="Name" [(ngModel)]="name" name="name" type="text">
  <input placeholder="Message" [(ngModel)]="message" name=",message" type="text">

  <button type="button" (click)="sendMessage()">Send</button>

</form>



<br>
<br>

<section>
  <ul *ngFor="let message of wsChatService.getMessages">

    <li [ngClass]="{'myChat': message.id === wsChatService.idChat}">{{message.id}}</li>
    <li [ngClass]="{'myChat': message.id === wsChatService.idChat}">{{message.name}}</li>
    <li [ngClass]="{'myChat': message.id === wsChatService.idChat}">{{message.message}}</li>

  </ul>
</section>
