<form>

  <input class="inputName" placeholder="Name" [(ngModel)]="name" name="name" type="text">
  <input class="inputMessage" placeholder="Message" [(ngModel)]="message" name=",message" type="text">

  <button class="buttonPrimary" type="button" (click)="sendMessage()">Send</button>

</form>



<br>
<br>

<section class="sectionChat">

  <div *ngFor="let message of wsChatService.getMessages" [ngClass]=" message.id === wsChatService.idChat ? 'boxGreen' : 'boxGray'">

    <span>{{message.name}}</span>
    <p>{{message.message}}</p>

  </div>

</section>
