@import "./../../../styles.scss";

:host {

  .sectionCounter {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 18px;

    border-radius: 12px;
    border: solid;
    border-width: 1px;
    border-color: $grayBlack;

    ul {
      list-style: none;
      font-size: 12px;

      li {
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0px;
        }

        span{
          font-weight: 600;
        }
      }
    }
  }


}
